{% extends 'records/base.html' %}
{% block title %}{{ patient }}{% endblock %}

{% block body %}
<div class="container-fluid songs-container">

    <div class="row">

        <!-- Left Patient Info -->
        <div class="col-sm-4 col-md-3">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h3>{{ patient.name }} <small>{{ patient.pid }}</small></h3>
                    <h4>{{ patient.date_of_birth }}</h4>
                </div>

                <!-- Delete -->
                <form action="{% url 'records:patient-delete' patient.id  %}" method="post" style="display: inline;">
                    {% csrf_token %}
                    <input type="hidden" name="patient_id" value="{{ patient.id }}"/>
                    <button type="submit" class="btn btn-default btn-sm">
                        <span class="glyphicon glyphicon-trash"></span>
                    </button>
                </form>

                <!-- Edit -->
                <button type="submit" class="btn btn-default btn-sm">
                    <a href="{% url 'records:patient-update' patient.id %}">
                        <span class="glyphicon glyphicon-pencil" style="color:black" aria-hidden="true"></span>
                    </a>
                </button>

            </div>
        </div>

        <!-- Right Patient Info -->
        <div class="col-sm-8 col-md-9">

            <ul class="nav nav-pills" style="margin-bottom: 10px;">
                <li role="presentation" class="active"><a href="#">Add New Visit</a></li>
                <li role="presentation"><a href="#">View All</a></li>
            </ul>

            <div class="panel panel-default">
                <div class="panel-body">

                    <p>Medical History: {{patient.medical_history }}</p>
                    <p><strong>{{ patient.presentation_date }}:</strong> {{ patient.presentation }}</p>
                    {% for visit in patient.visit_set.all %}
                        <p><strong>{{ visit.visit_date }}:</strong> {{ visit.visit_note }}</p>
                        <div class="row">
                            {% for image in visit.image_set.all %}
                                <div class="col-sm-3">
                                    <img src="{{ image.image.url }}" class="img-responsive">
                                    <br />
                                </div>
                            {% endfor %}
                        </div>
                        <br />
                    {% endfor %}

                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}