{% extends 'records/base.html' %}
{% block title %}{{ patient }}{% endblock %}

{% block body %}
<div class="container-fluid songs-container">

    <div class="row">

        <!-- Left Patient Info -->
        <div class="col-sm-4 col-md-3">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h3>{{ patient.name }} <small>{{ patient.pid }}</small></h3>
                    <h4>{{ patient.date_of_birth }}</h4>
                </div>
            </div>
        </div>

        <!-- Right Patient Info -->
        <div class="col-sm-8 col-md-9">

            <ul class="nav nav-pills" style="margin-bottom: 10px;">
                <li role="presentation" class="active"><a href="#">View All</a></li>
                <li role="presentation"><a href="#">Add New Visit</a></li>
            </ul>

            <div class="panel panel-default">
                <div class="panel-body">

                    <p>Medical History: {{patient.medical_history }}</p>
                    <p><strong>{{ patient.presentation_date }}:</strong> {{ patient.presentation }}</p>
                    {% for visit in patient.visit_set.all %}
                        <p><strong>{{ visit.visit_date }}:</strong> {{ visit.visit_note }}</p>
                    {% endfor %}

                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}